<html>
  <head>
    <title>Hughie</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script>
      tailwind.config = { theme: { extend: { colors: { 'color':
      'var(--color-main)', 'ai': 'var(--color-ai)', 'user': 'var(--color-user)',
      'error': 'var(--color-error)', 'body': 'var(--color-body)', 'base':
      'var(--color-base)', 'li': 'var(--color-li)', 'h': 'var(--color-h)',
      'secondary': 'var(--color-secondary)' }, }, }, };
    </script>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="bg-body p-4 md:max-h-screen h-screen">
    <form class="w-full flex bg-base h-full" hx-swap="beforeend">
      <div class="w-full flex flex-col">
        <div
          class="flex flex-col justify-between h-full border-[1px] border-zinc-700 border-b-0"
        >
          <h2 class="block text-sm text-center font-medium text-color">
            <pre class="rounded-none bg-secondary">
              {{banner}}
            </pre>
          </h2>
          <div
            class="flex-grow flex flex-col gap-4 items-center overflow-auto p-3 border-[1px] border-zinc-700 overflow-y-auto h-full"
          >
            <!-- Response goes here -->
            <ul id="suitable-agents-target" class="list-disc p-4"></ul>
          </div>
          <label
            for="description"
            class="block m-2 text-sm font-medium text-color text-center"
          >Agent Search</label>
          <textarea
            id="description"
            name="description"
            rows="4"
            class="block grow p-2 w-full text-sm text-color bg-base border border-zinc-700 focus:ring-blue-500 focus:border-blue-500 h-[200px] min-h-[200px]"
            placeholder="Describe the AI you're looking for..."
          ></textarea>
          <button
            hx-post="/ai/agent"
            hx-target="#suitable-agents-target"
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-sm font-medium text-white transition-colors p-2"
          >
            Find your AI...
          </button>
        </div>
      </div>
    </form>
  </body>
</html>